@font-face {
    font-family: Poppins;
    src: url("../src/font/Poppins-Light.ttf");
    font-weight: 300;
}

:root {
    --dutch-white : #efdfbb;
    --wine : #722f37;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
    /* background-image: radial-gradient(at 50% 50%, var(--wine), var(--dutch-white));
    background-repeat: no-repeat;
    background-size: cover; */
}

h1, h2, h3, h4 {
    font-weight: 300;
    margin: 0;
    padding: 0;
}

a {
    font-weight: 300;
}

.nav-bar {
    display: flex;
    justify-content:  baseline;
    align-items: center;
    padding: 12px 18px;
    margin: 0;
    gap: 24px;
    box-sizing: border-box;
    background-color: white;
}

.ma {
    margin-right: auto;
}

.nav-img {
    width: 56px;
    margin: 0;
}

.h3 {
    font-size: 26px;
}

.nav-anchor-txt {
    font-size: 16px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav-anchor-txt:hover {
    box-shadow: 0 1px var(--wine);
}

.nav-anchor-btn {
    margin: 0;
    padding: 0;
    aspect-ratio: 1/1;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-anchor-btn img {
    width: 36px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.footer {
    padding: 16px;
    background-color: white;
    /* border-radius: 24px 24px 0 0; */
}

.footer-div-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.rm {
    margin-right: 48px;
}

.footer--anchor {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 6px;
    padding: 4px;
    color: black;
    text-decoration: none;
    transition: 0.3s linear;
    cursor: pointer;
}

.footer--anchor:hover {
    box-shadow: 0 1px black;
}

.icon {
    width: 24px;
    aspect-ratio: 1/1;
}

.footer--anchor .h3 {
    font-size: 16px;
}

.footer-div-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 16px 0;
}

.p {
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.hero {
    height: calc(100dvh - 63px);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 64px calc(100% - 64px - 32px - 32px) 32px;
    row-gap: 16px;
    grid-template-areas: 
    "h1 h1"
    "img detail"
    "btns btns"
    ;
    padding-bottom: 1rem;
    box-sizing: border-box;
    background-color: white;
}

.hero--btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    grid-area: btns;
}

.arrow--btn {
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: 32px;
    aspect-ratio: 1/1;
    border: none;
    outline: none;
    cursor: pointer;
}

.arrow--btn img {
    padding: 0;
    margin: 0;
    width: 100%;
    aspect-ratio: 1/1;
}

.number--btn {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 32px;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: Poppins;
    cursor: pointer;
}

.current--number {
    box-shadow: 0 1px black;
}

.hero--detail {
    grid-area: detail;
    place-self: center;
    padding: 0 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    box-sizing: border-box;
}

.detail--imgs {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1.5rem;
    box-sizing: border-box;
}

.detail--img {
    height: 16dvh;
    max-height: 136px;
    aspect-ratio: 4/5;
    object-fit: cover;
    border-radius: 12px;
    padding: 8px 12px;
    margin: 0;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 0 8px 0 var(--wine);
    cursor: pointer;
}

.hero--h1 {
    grid-area: h1;
    width: 100%;
    height: 100%;
    place-self: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.hero--h2 {
    font-size: 1.6rem;
    max-width: 80%;
}

.hero h3 {
    font-size: 1.25rem;
    display: inline;
}

.hero p {
    font-size: 1rem;
    width: 80%;
    margin: 1rem;
    text-align: justify;
    line-height: 1.6;
    letter-spacing: 0.3px;
    max-height: 150px;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis; 
    overflow: hidden;
}

.arrow--anchor {
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--wine);
    cursor: pointer;
    box-shadow: 0 1px var(--wine);
    position: relative;
}

.arrow--anchor::after{
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 12H20M20 12L16 8M20 12L16 16' stroke='%23722f37' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--wine);
    padding: 0;
    margin: 0;
    width: 32px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0;
    right: 100%;
    z-index: 12;
    animation: slide 0.8s linear infinite alternate;
}

@keyframes slide {
    0% {
        right: 100%;
    }

    100% {
        right: 110%;
    }
}

.detail--sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero--img {
    grid-area: img;
    place-self: center;
    height: 100%;
    padding: 18px;
    box-sizing: border-box;
    object-fit: cover;
}

.title--h2 {
    display: block;
    font-size: 1.6rem;
    text-align: center;
    padding: 2rem 0;
    width: 100%;
}

.slide--bar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 48px;
    padding: 16px 24px;
    margin: 0;
    box-sizing: border-box;
    overflow-x: auto;
    scrollbar-width:thin;
}

.slide--bar::-webkit-scrollbar {
    width: 12px;
}

.slide--bar::-webkit-scrollbar-track-piece {
    border-radius: 12px;
}

.card {
    width: 300px;
    padding: 16px 20px 20px;
    margin-bottom: 36px;
    box-sizing: border-box;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: 0 0 12px 0 gray;
}

.card--header{
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
}

.card--icon {
    margin-left: 2px;
}

.card--img {
    height: 175px;
    width: 160px;
    object-fit: contain;
    margin: 8px auto;
}

.card--title {
    font-size: 20px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis; 
    overflow: hidden;
}

.card--price {
    font-size: 16px;
    line-height: 1.5;
}

.card--footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.card--footer h3 {
    font-size: 20px;
    line-height: 1;
}

.card--anchor {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: black;
    box-shadow: 0 1px 0 0 black;
}

.discounted--card--container {
    display: flex;
    gap: 6px;
}

.discounted {
    color: gray;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discounted::after {
    content: "";
    position: absolute;
    width: calc(100% + 6px);
    height: 1px;
    background-color: gray;
    transform: rotateZ(15deg);
}

.categories {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 0 5rem;
    margin: 0;
    box-sizing: border-box;
}

.categories .title--h2 {
    padding-bottom: 0;
    margin-bottom: -1rem;
}

.categories--a {
    color: white;
    font-size: 1.6rem;
    flex: 1 1 calc(50% - 6rem);
    min-width: 273px;
    height: 50dvh;
    box-shadow: 0 0 12px 0 var(--wine);
    border-radius: 24px;
    position: relative;
    background-size: cover;
    transition: 0.2s ease;
}

.categories--a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #722f3750;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 24px;
}

.categories--a:hover {
    transform: scale(1.05);
}

.categories--a:nth-of-type(1){
    background-image: url("/public/Pictures/man.jpg");
    background-position: 0 0;
}

.categories--a:nth-of-type(1)::after{
    content: "Men's clothing";
}

.categories--a:nth-of-type(2){
    background-image: url("/public/Pictures/woman.jpg");
    background-position: 0 0;
}

.categories--a:nth-of-type(2)::after{
    content: "Women's clothing";
}

.categories--a:nth-of-type(3){
    background-image: url("/public/Pictures/jew.jpg");
    background-position: center;
}

.categories--a:nth-of-type(3)::after{
    content: "Jewlery";
}

.categories--a:nth-of-type(4){
    background-image: url("/public/Pictures/elec.jpg");
    background-position: center;
}

.categories--a:nth-of-type(4)::after{
    content: "Electronics";
    background-position: center;
}

.purchase--guide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 48px;
    padding: 5rem;
    padding-bottom: 2.5rem;
    margin: 0;
    box-sizing: border-box;
}

.grid--imgs {
    height: calc(100dvh - 5rem);
    flex: 1 1 42vw;
    display: grid;
    grid-template-columns: calc(50% - 1.2rem) calc(50% - 1.25rem);
    grid-template-rows: calc(50% - 1.25rem) calc(50% - 1.25rem);
    gap: 2.5rem;
    grid-template-areas: 
    "img--1 img--2"
    "img--3 img--4"
    ;
    box-sizing: border-box;
}

.details{
    flex: 1 1 42vw;
}

.details h2 {
    font-size: 1.6rem;
}

.details p {
    line-height: 1.6;
    letter-spacing: 0.3px;
}

.grid--img {
    border-radius: 12px;
    box-shadow: 0 0 12px 0 var(--wine);
    position: relative;
    background-size: cover;
    background-position: center;
}

.grid--img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #722f3750;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 12px;
    z-index: 12;
}

.grid--img:nth-of-type(1){
    background-image: url("../public/Pictures/bro.jpg");
    grid-area: img--1;
    width: 100%;
    height: 100%;
    justify-self: flex-end;
    align-self: flex-end;
}

.grid--img:nth-of-type(2){
    background-image: url("../public/Pictures/pay.jpg");
    grid-area: img--2;
    height: 80%;
    width: 80%;
    justify-self: flex-start;
    align-self: flex-end;
}

.grid--img:nth-of-type(3){
    background-image: url("../public/Pictures/del.jpg");
    grid-area: img--3;
    height: 80%;
    width: 80%;
    justify-self: flex-end;
    align-self: flex-start;
}

.grid--img:nth-of-type(4){
    background-image: url("../public/Pictures/enj.jpg");
    grid-area: img--4;
    width: 100%;
    height: 100%;
    justify-self: flex-start;
    align-self: flex-start;
}

.guide--list li{
    margin: 0.75rem 0;
    text-align: justify;
    line-height: 1.6;
    letter-spacing: 0.3px;
}

.about--us {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px;
    padding: 5rem;
    padding-top: 2.5rem;
    margin: 0;
    box-sizing: border-box;
}

.about--us .grid--img:nth-of-type(1){
    background-image: url("../public/Pictures/brnd.jpg");
    grid-area: img--1;
    height: 80%;
    width: 80%;
    justify-self: flex-end;
    align-self: flex-end;
}

.about--us .grid--img:nth-of-type(2){
    background-image: url("../public/Pictures/hnd.jpg");
    grid-area: img--2;
    width: 100%;
    height: 100%;
    justify-self: flex-start;
    align-self: flex-end;
}

.about--us .grid--img:nth-of-type(3){
    background-image: url("../public/Pictures/pckg.jpg");
    grid-area: img--3;
    height: 100%;
    width: 100%;
    justify-self: flex-end;
    align-self: flex-start;
}

.about--us .grid--img:nth-of-type(4){
    background-image: url("../public/Pictures/blk.jpg");
    grid-area: img--4;
    width: 80%;
    height: 80%;
    justify-self: flex-start;
    align-self: flex-start;
}

.about--us .details{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.about--us .details h2 {
    align-self: start;
}

.about--us .details .arrow--anchor {
    margin-right: 24px;
}

.loading {
    animation: Loading 2s ease infinite;
}

@keyframes Loading {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}